<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/employeeStyles.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link-light" href="#" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showAddEmployeeForm}">Add Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showSearchForm}">Search Employee</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/searchEmployeeDetails}" th:object="${employeeList}" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Enter Firstname" aria-label="Search" name="firstName">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <a class="btn btn-danger ml-2" th:href="@{/logout}">Logout</a>
            </div>
        </nav>
        <form action="#" th:action="@{/saveEmployeeDetails}" th:object="${employee}" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col"><input type="text" th:field="*{firstName}" placeholder="Employee FirstName" class="form-control mb-2"></div>
                    <div class="col"><label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="mb-2 validation-msg"></label></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" th:field="*{lastName}" placeholder="Employee LastName" class="form-control mb-2"></div>
                    <div class="col"><label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="mb-2 validation-msg"></label></div>
                </div>
                <div class="row">
                    <div class="col">
                        <span th:each="gen:${genderEnum}">
                            <input type="radio" th:field="*{gender}" th:value="${gen}" class="">
                            <label th:text="${gen}" class="">Gender</label>
                        </span>
                    </div>
                    <div class="col"><label th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="mb-2 validation-msg"></label></div>
                </div>
                <div class="row">
                    <div class="col"><input type="email" th:field="*{email}" placeholder="Employee Email" class="form-control mb-2"></div>
                    <div class="col"><label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="mb-2 validation-msg"></label></div>
                </div>
                <div class="row">
                    <div class="col"><input type="text" th:field="*{address.city}" placeholder="Employee City" class="form-control mb-2"></div>
                    <div class="col"><label th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="mb-2 validation-msg"></label></div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        <a th:href="@{/}" class="link-primary">Back To Homepage</a>
    </div>
</body>
</html>